* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Handlee', cursive;
}
.app {
    background-color: black;
}
 
.gradient {
    background: linear-gradient(180deg,
    rgba(84,226,234,1) 0%,
    rgba(185,227,209,1) 51%,
    rgba(248,234,209,1) 100%);
}
.grad_reverse {
    background: linear-gradient(180deg,
    rgba(248,234,209,1) 0%,
    rgba(185,227,209,1) 51%,
    rgba(84,226,234,1) 100%)
}

.nav {
    background: #56e2e9;
    height: 50px;
}

.logo {
    width: 12%;   
    z-index: 1;
}

.menu{ 
    padding: 10px;
    background: black;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

.menu .item{
        list-style: none; 
        padding: 5px;
        margin: 0 35px;
        display: inline;
        justify-content: space-between;
        text-decoration: none;
        outline: none;
        color: #fff;
        font-family: 25px;
}

.main-picture {
    display:block;
    margin:auto;
    height: 100%;
    box-shadow: 3px 10px 14px 5px rgba(255,255,255,0.37);
}
.features {
    height: 500px;
    display: flex;
    padding: 30px;
    padding: 5% 30px 5% 30px;
    justify-content: center;
}

.feature {
    justify-content: center;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 35px;
    width: 300px;
    margin: 20px;
    border-radius: 10px;
}

.feature h4 {
    color: red;
    font-size: 20px;
    margin-bottom: 20px;
}
/* 
.
te {
    background-color: #fff;
} */

.about0 h1 {
    text-align: center;
    font-size: 90px;
    font-weight: bold;
    color: #fff;
}
.about0 h4 {
    text-align: center;
    font-size: 50px;
    color: 
    te;
}

.about0 p{
    text-align: justify;
    padding: 1% 10% 5% 10%;
    font-size: 20px;
}

.about {
    display: flex;
    justify-content: center;
}
.about .peers {
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.redes a img {
    width: 10%;
}

.title {
    text-align: center;
    margin: 35px;
    font-size: 20px;

}

.white {
    color: white;
}
.btns {
    display: flex;
    justify-content: center;
}
.btns img{
    width: 200px;
}
footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 13px;
    border-top: 1px solid #fff;
}